<h1>Show Person</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @person.name %>
  </li>

  <li>
    <strong>Age:</strong>
    <%= @person.age %>
  </li>

  <li>
    <strong>Birthday:</strong>
    <%= @person.birthday %>
  </li>

  <li>
    <strong>Address:</strong>
    <%= @person.address %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.person_path(@conn, :edit, @person) %></span>
<span><%= link "Back", to: Routes.person_path(@conn, :index) %></span>
